@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Font: 'Nunito', sans-serif;
}

body{
    font-family: var(--Font);
    font-size: 14px;
    --Background:  hsl(0, 0%, 98%);
    --Texts: hsl(200, 15%, 8%);
    --Elements: hsl(0, 0%, 100%);
    background-color: var(--Background);
}

body.dark{
    --Background: hsl(207, 26%, 17%);
    --Texts: hsl(0, 0%, 100%);
    --Elements: hsl(209, 23%, 22%);
}

a{
    text-decoration: none;
}

.navbar{
    width: 100%;
    height: 80px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Elements);
}

.navbar__logo{
    color: var(--Texts);
    font-weight: 800;
    font-size: 20px;
}

.navbar__mode{
    border: none;
    outline: none;
    background-color: inherit;
    font-weight: 300;
    font-size: 18px;
    cursor: pointer;
    color: var(--Texts);
}

.main{
    width: 100%;
    height: auto;
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: var(--Background);
}

.form{
    width: 100%;
    height: 50px;
}

.form__group{
    width: 450px;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.form__input{
    width: 100%;
    height: 95%;
    padding-left: 50px;
    background-color: var(--Elements);
    border: none;
    outline: none;
    border-radius: 5px;
    color: var(--Texts);
}

.form__input::placeholder{
    color: var(--Texts);
    font-size: 11px;
    letter-spacing: 1px;
}

.form__icon{
    position: absolute;
    left: 10px;
    font-size: 20px;
    color: var(--Texts);
}

.countries{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}


.country{
    width: 300px;
    height: 380px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--Elements);
}

.country__flag{
    width: 100%;
    max-width: 100%;
    height: 191px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.country__name{
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 10px;
    color: var(--Texts);
    font-size: 20px;
}

.country__data{
    color: var(--Texts);
    font-weight: 300;
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.country__data-title{
    font-weight: 600;
    font-size: 14px;
}

.btn-back{
    outline: none;
    border: none;
    width: 110px;
    height: 30px;
    background-color: var(--Elements);
    color: var(--Texts);
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 40px;
    margin-left: 30px;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-back__link{
    color: var(--Texts);
}

.more-info{
    font-size: 15px;
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
    color: var(--Texts);
}

.datail{
    width: 80%;
    height: 400px;
    margin: 20px auto;
    display: flex;
}

.detail__texts-title{
    margin-bottom: 20px;
    color: var(--Texts);
}

.detail__title{
    font-weight: 600;
    font-family: 15px;
    margin-right: 5px;
}

.deatil__texts{
    width: 50%;
    height: 80%;
    margin: 30px;
    color: var(--Texts);
}

.detail__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.detail__info{
    margin-bottom: 10px;
}


.detail__borders{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.detail__subtitle{
    font-size: 16px;
}

@media(max-width: 475px){
    .navbar{
        width: 100%;
    }

    .navbar__logo{
        font-size: 14px;
    }

    .navbar__mode{
        font-size: 13px;
    }

    .navbar__mode:hover{
        cursor: default;
    }

    .main{
        width: 100%;
    }

    .form{
        width: 100%;
    }

    .form__group{
        width: 100%;
    }

    .countries{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .country{
        margin: 0;
        margin-bottom: 20px;
    }

}